<h1>All Discounts</h1>

<%= link_to 'New Discount', merchant_new_discount_path %>

<% @discounts.each do |discount| %>
  <section id='discount-<%= discount.id%>'>
    <h2><%= link_to discount.name, merchant_discount_path(discount) %></h2>
    <% if discount.enabled %>
      <p>Discount Enabled</p>
      <%= link_to "Disable Discount", "/merchant/discounts/#{discount.id}/enable?tf=false", method: :patch  %>
    <% else %>
      <p>Discount Disabled</p>
      <%= link_to "Enable Discount", "/merchant/discounts/#{discount.id}/enable?tf=true", method: :patch  %>
    <% end %>
  </section>
<% end %>